@import "../../styles/variables";

.text-editor {
  position: absolute;
  border: none;
  padding: 0;
  margin: 0;
  background: transparent;
  resize: none;
  outline: none;
  overflow: hidden;
  font: {
    family: inherit;
    size: inherit;
  }
  line-height: inherit;
  text-align: inherit;
  color: inherit;
  min-width: 1px;
  white-space: pre-wrap;

  &:focus {
    outline: 1px solid $primary-color;
  }
}
